body {
  margin: 0;
}

.preview-container {
  margin: auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.block {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: #eee;
}

.block img {
  max-width: 100%;
  border-radius: 6px;
}

.block-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
